@supports (-moz-appearance:none) {
  input[type=checkbox] {
    -moz-appearance: initial;
  }
  input[type=number] {
    box-sizing: border-box;
    width: 100%;
    -moz-appearance: textfield;
  }
}

:root {
  --header: #ffc767;
  --color: #000000;
  --bg-color: #fff;
  --bg-dark-color: #a5bbff;
  --bg-red-color: #ff6984;
  --bg-green-color: #a4ff88; 
  --font-small: 10px;
  --font-medium: 25px;
  --font-normal: 30px;
  --font-large: 35px;
  --font-xlarge: 45px;
  --width: 400px;
}
html.pp {
  --width: 100vw;
}

body {
  margin: 0;
  color: var(--color);
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: var(--width);
  height: 600px;
}
html.pp body {
  height: 100vh;
}

input,
body,
h1 {
  font-family: 'Reenie Beanie', cursive;
}
body,
input {
  font-size: var(--font-normal);
}
h1 {
  font-size: var(--font-large);
  font-weight: 300;
  margin: 0;
  text-align: left;
}
h3 {
  margin: 0;
  font-size: var(--font-small);
  color: var(--color);
}
input[type="button"] {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 28px;
}

input[type="button"]:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

input[type="button"]:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/*
input[type="button"] {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px; */
  /*color: var(--color);*/
 /* width: 100px;
  cursor: pointer;
} */
input[type="number"] {
  font-size: var(--font-large);
  color: var(--color);
  background-color: transparent;
  border: none;
  text-align: center;
}
header {
  padding: 10px;
  background-color: var(--header);
}
header h1 {
  display: inline-block;
  flex: 1;
  margin: 0;
}
body[data-tab="alarm"] header h1:not([for="alarm"]) {
  display: none;
}
body[data-tab="stopwatch"] header h1:not([for="stopwatch"]) {
  display: none;
}
body[data-tab="timer"] header h1:not([for="timer"]) {
  display: none;
}
body:not([data-tab="alarm"]) header input[type=button] {
  display: none;
}
body[data-tab="alarm"][data-alarm="edit"] header input[type=button] {
  display: none;
}

footer {
  justify-content: space-around;
  padding: 15px 0;
  background-color: var(--header);
  position: absolute;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
}
footer input[type=radio] {
  display: none;
}
footer > label {
  position: relative;
  padding: 3px 0;
  cursor: pointer;
}
footer > input[type=radio]:checked + label {
  color: var(--color);
}
footer > input[type=radio]:checked + label::before {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: dotted 2px var(--color);
}

input[type=checkbox].switch {
  margin-left: 10px;
}
input[type=checkbox].switch::after {
  content: '';
  width: 32px;
  height: 100%;
  line-height: 28px;
  display: inline-block;
  background: url('icons/switch-off.svg') center center no-repeat;
  background-size: 32px;
  visibility: visible;
  cursor: pointer;
}
input.switch[type=checkbox]:checked::after {
  background-image: url('icons/switch-on.svg');
}

#content {
  overflow-x: hidden;
}
body[data-ready=true] #content {
  transition: margin 200ms;
}

#content > div {
  min-width: var(--width);
}
body[data-tab="alarm"] #content {
  margin-left: 0;
}
body[data-tab="stopwatch"] #content {
  margin-left: calc(-1 * var(--width));
}
body[data-tab="timer"] #content {
  margin-left: calc(-2 * var(--width));
}
.alarm input[type=checkbox] {
  visibility: hidden;
  width: 28px;
  height: 28px;
}
.alarm div[data-id="toast"] h1,
.alarm div[data-id="toast"] h3 {
  text-align: center;
}
.alarm div[data-id="toast"] h1 {
  padding: 0 30px;
}
.alarm .entry {
  background-color: var(--bg-dark-color);
  padding: 20px 30px;
  position: relative;
}
.alarm .entry [data-id="time"] {
  flex: 1;
  font-weight: 300;
  text-align: left;
}
.alarm .entry [data-id="date"].range {
  color: var(--color);
}
.alarm .entry:not(:last-child) {
  margin-bottom: 10px;
}
.alarm .entry[disabled=true] {
  opacity: 0.5;
}
.alarm .entry [data-command="remove"] {
  width: 16px;
  height: 16px;
  background: url(icons/close.svg) center center no-repeat;
  position: absolute;
  top: 5px;
  right: 5px;
  background-size: 16px;
  filter: invert(1);
  padding: 0;
}

/* alarm settings */
.alarm div[data-id="edit"] {
  margin: 0 10px;
}
.alarm div[data-id="current"] {
  padding: 10px 0;
}
.alarm div[data-id="days"] {
  justify-content: space-between;
}
.alarm input:not(.switch)[type=checkbox]::after {
  content: attr(data-id);
  visibility: visible;
  color: var(--color);
  border-radius: 50%;
  border: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 28px;
}
.alarm input:not(.switch)[type=checkbox]:checked::after {
  color: var(--color);
  border-color: var(--color);
}
.alarm table {
  width: 100%;
}
.alarm [data-id="name"] {
  color: var(--color);
  background-color: var(--bg-dark-color);
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
}
body[data-alarm="view"] div[data-id="edit"] {
  display: none;
}
.alarm div[data-id="content"] {
  height: 100%;
}
.alarm div[data-id="entries"] {
  overflow: auto;
}
body[data-alarm="edit"] div[data-id="content"] {
  display: none;
}
.alarm .entry {
  position: relative;
}
.alarm .entry [data-id=once] {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-green-color);
  padding: 0 10px;
}
.alarm .entry [data-id=once]:empty {
  display: none;
}

.stopwatch {
  flex-direction: column;
}
.stopwatch [data-id="content"] {
  flex: 1;
  overflow: auto;
}
.stopwatch table {
  width: calc(100% - 40px);
  text-align: center;
  table-layout: fixed;
}
.stopwatch table td {
  padding: 2px 0;
}
.stopwatch table td:first-child,
.stopwatch table td:last-child {
  color: var(--color);
}
.stopwatch table td:first-child {
  text-align: left;
}
.stopwatch table td:last-child {
  text-align: right;
}

[data-id="tools"] {
  display: flex;
  justify-content: space-around;
  align-items: unset;
  width: var(--width);
}
input[type="button"][data-command="save"],
input[type="button"][data-command="resume"],
input[type="button"][data-command="start"] {
  background-color: var(--bg-green-color);
}
input[type="button"][data-command="pause"],
input[type="button"][data-command="stop"] {
  background-color: var(--bg-red-color);
}
input[type="button"][data-command="cancel"],
input[type="button"][data-command="reset"],
input[type="button"][data-command="lap"] {
  background-color: var(--bg-dark-color);
}
body[data-stopwatch="start"] .stopwatch input[type="button"]:not([data-command="start"]) {
  display: none;
}
body[data-stopwatch="working"] .stopwatch input[type="button"]:not([data-command="lap"]):not([data-command="stop"]) {
  display: none;
}
body[data-stopwatch="paused"] .stopwatch input[type="button"]:not([data-command="reset"]):not([data-command="resume"]) {
  display: none;
}
.timer {
  flex-direction: column;
}
.timer table {
  width: 100%;
  table-layout: fixed;
}
.timer td {
  text-align: center;
}
.timer th {
  color: var(--color);
  font-weight: normal;
}
.timer [data-id="presets"] div span {
  flex: 1;
  text-align: center;
  color: var(--color);
  cursor: pointer;
}
body[data-timer="working"] [data-id="presets"] {
  display: none;
}
body[data-timer="start"] .timer input[type="button"]:not([data-command="start"]) {
  display: none;
}
body[data-timer="working"] .timer input[type="button"]:not([data-command="pause"]):not([data-command="cancel"]) {
  display: none;
}
body[data-timer="paused"] .timer input[type="button"]:not([data-command="resume"]):not([data-command="cancel"]) {
  display: none;
}

[hbox] {
  display: flex;
  flex-direction: row;
}
[vbox] {
  display: flex;
  flex-direction: column;
}
[align="center"] {
  align-items: center;
}
[align="end"] {
  align-items: flex-end;
}
[pack="center"] {
  justify-content: center;
}
[flex="1"] {
  flex: 1;
}
.extra-large {
  font-size: var(--font-xlarge);
}
.large {
  font-size: var(--font-large);
}
.medium {
  font-size: var(--font-medium);
}
.small {
  font-size: var(--font-small);
}
.bulky {
  margin-top: 40px;
  margin-bottom: 40px;
}
.hidden {
  display: none;
}
.setMins{
  color: black;
  border: 2px solid #555555;
  border-radius: 8px;
  padding: 4px 8px;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}
.setMins:hover {
  background-color: #555555;
  color: white;
  background-position: 100%;
}