body {
    width: 300px;
    height: 400px;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
}

h1 {
    color: #F26D33;
    display: flex;
    justify-content: center;
    height: 50px;
    font-family: 'Reenie Beanie', cursive;
    font-size: 50px;
}

input {
    padding: 12px 20px;
    box-sizing: border-box;
    width: 100px;
}

.input {
    text-align: center;
}

button {
    width: 72px;
    height: 24px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 15px;
}

#time {
    font-family: 'Reenie Beanie', cursive;
    font-size: 40px;
    text-align: center;
}

#startTimerButton {
  background-color: #78ff9a;
  border: none;
  font-family: 'Reenie Beanie', cursive;
  font-size: 30px;
  cursor: pointer;
}

.start {
    text-align: center;
}